*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

/assets
/build
*/build/
**/build/
captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
output.json
/jdk17
*/jdk-17.0.20.1+1/
# OS
Thumbs.db
